@import "bourbon";
@import "bootstrap";

.app-name {
	color: darken($brand-primary, 15%);
}
#scores {
	position: relative;
}
input[type=number] {
	text-align: center;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
th {
	text-align: center;
}
form {
	margin-bottom: 20px;
}